body{
    background-color:rgb(248, 244, 244);
    color:rgb(10, 10, 10);
}
.task-list-container {
    height: 450px; 
    overflow-y: auto;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    }
        /* Custom scrollbar for better look */
.task-list-container::-webkit-scrollbar {
    width: 5px;
    }
.task-list-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    }